#titulo {
color: white;
text-align: center;
}
#subtitulo {
color: #06FAFA;
text-align: center;
}
#caixa {
border-radius: 5%;
border: 5px solid #06FAFA;
width: 800px;
background-color: #FFFF;
margin-left: 240px;
}
#sobremim {
    color:  darkblue;
    text-align: center;
    font-size: 50px;
}
.apresentacao {
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
}
#corpo {
    background-color:   #011724;
}
#imagem {
margin-top: 30px;
margin-left: 250px;
width: 300px;
border-radius: 100%;
}