#titulo {
color: white;
text-align: center;
}
#subtitulo {
color: #06FAFA;
text-align: center;
}
#caixa {
border-radius: 5%;
border: 5px solid #06FAFA;
width: 800px;
background-color: #FFFF;

display: flex;
flex-direction: column;
align-items: center;
}
#sobremim {
    color:  darkblue;
    text-align: center;
    font-size: 50px;
}
.apresentacao {
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
}
#corpo {
    background-color:   #011724;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#imagem {
margin-top: 30px;

width: 300px;
border-radius: 100%;
}

@media (max-width:1050px) {
 #caixa {
    width:90%;
    }
}
@media (max-width:600px) {
#titulo{
    font-size: 30px;
}
#subtitulo{
font-size: 20px;
}
}
@media (max-width: 480px){
#imagem{
width: 50%;
}
#titulo {
font-size: 20px;
}
#subtitulo{
font-size: 15px;
}
#sobremim{
    font-size: 20px;
}
.apresentacao{
    font-size: 15px;
}
    }